In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [14]:
df_movies = pd.read_csv('Film.csv')

df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 981 entries, 0 to 980
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      981 non-null    int64
 1   Name of movie   981 non-null    object
 2   Year of relase  981 non-null    object
 3   Watchtime       981 non-null    int64
 4   Movie Rating    981 non-null    float64
 5   Metascore       981 non-null    object
 6   Vote            981 non-null    object
 7   Gross           981 non-null    object
 8   Description     981 non-null    object
 9   Director        981 non-null    object
 10  Stars           981 non-null    object
dtypes: float64(1), int64(2), object(8)
memory usage: 84.4+ KB

In [15]:
df_movies

,Unnamed: 0,Name of movie,Year of relase,Watchtime,Movie Rating,Metascore,Vote,Gross,Description,Director,Stars
0,0,Chúa Tể Của Những Chiếc Nhẫn: Sự Quay Trở Lại ...,2003,201,9.0,94,"1,858,282",$377.85M,Gandalf and Aragorn lead the World of Men agai...,Peter Jackson,"['Elijah Wood', 'Viggo Mortensen', 'Ian McKell..."
1,1,777 Charlie,2022,164,8.9,^^^^^^,"33,142",*****,Dharma is stuck in a rut with his negative and...,Kiranraj K,"['Rakshit Shetty', 'Charlie', 'Sangeetha Sring..."
2,2,Kẻ Đánh Cắp Giấc Mơ,2010,148,8.8,74,"2,370,473",$292.58M,A thief who steals corporate secrets through t...,Christopher Nolan,"['Leonardo DiCaprio', 'Joseph Gordon-Levitt', ..."
3,3,Chúa Tể Của Những Chiếc Nhẫn: Những Người Bạn ...,2001,178,8.8,92,"1,887,641",$315.54M,A meek Hobbit from the Shire and eight compani...,Peter Jackson,"['Elijah Wood', 'Ian McKellen', 'Orlando Bloom..."
4,4,"Thiện, Ác, Tà",1966,161,8.8,90,"766,605",$6.10M,A bounty hunting scam joins two men in an unea...,Sergio Leone,"['Clint Eastwood', 'Eli Wallach', 'Lee Van Cle..."
...,...,...,...,...,...,...,...,...,...,...,...
976,976,Cao Bồi Xứ Ottoman,2009,112,7.4,^^^^^^,"36,417",*****,"In 1881, two Ottoman Secret Agents travel to t...",Ömer Faruk Sorak,"['Cem Yilmaz', 'Ozan Güven', 'Demet Evgar', 'Z..."
977,977,Biên Niên Sử Miền Viễn Tây,2018,133,7.3,79,"151,733",*****,Six tales of life and violence in the Old West...,"Directors:Ethan Coen, Joel Coen","['Tim Blake Nelson', 'Willie Watson', 'Clancy ..."
978,978,Seven Brides for Seven Brothers,1954,102,7.3,75,"25,676",$9.40M,"In 1850 Oregon, when a backwoodsman brings a w...",Stanley Donen,"['Jane Powell', 'Howard Keel', 'Jeff Richards'..."
979,979,Thiên Thần Trừng Phạt,1985,115,7.3,61,"60,968",$41.41M,A mysterious preacher (Clint Eastwood) protect...,Clint Eastwood,"['Clint Eastwood', 'Michael Moriarty', 'Carrie..."
980,980,Il mio nome è Nessuno,1973,116,7.3,68,"27,855",$0.39M,"A young, easy-going gunman worships and compet...",Tonino Valerii,"['Terence Hill', 'Henry Fonda', 'Jean Martin',..."

In [16]:
df_movies['Vote'] = df_movies['Vote'].str.replace(",",'')
df_movies['Vote'] = df_movies['Vote'].astype(int)

In [17]:
df_movies

,Unnamed: 0,Name of movie,Year of relase,Watchtime,Movie Rating,Metascore,Vote,Gross,Description,Director,Stars
0,0,Chúa Tể Của Những Chiếc Nhẫn: Sự Quay Trở Lại ...,2003,201,9.0,94,1858282,$377.85M,Gandalf and Aragorn lead the World of Men agai...,Peter Jackson,"['Elijah Wood', 'Viggo Mortensen', 'Ian McKell..."
1,1,777 Charlie,2022,164,8.9,^^^^^^,33142,*****,Dharma is stuck in a rut with his negative and...,Kiranraj K,"['Rakshit Shetty', 'Charlie', 'Sangeetha Sring..."
2,2,Kẻ Đánh Cắp Giấc Mơ,2010,148,8.8,74,2370473,$292.58M,A thief who steals corporate secrets through t...,Christopher Nolan,"['Leonardo DiCaprio', 'Joseph Gordon-Levitt', ..."
3,3,Chúa Tể Của Những Chiếc Nhẫn: Những Người Bạn ...,2001,178,8.8,92,1887641,$315.54M,A meek Hobbit from the Shire and eight compani...,Peter Jackson,"['Elijah Wood', 'Ian McKellen', 'Orlando Bloom..."
4,4,"Thiện, Ác, Tà",1966,161,8.8,90,766605,$6.10M,A bounty hunting scam joins two men in an unea...,Sergio Leone,"['Clint Eastwood', 'Eli Wallach', 'Lee Van Cle..."
...,...,...,...,...,...,...,...,...,...,...,...
976,976,Cao Bồi Xứ Ottoman,2009,112,7.4,^^^^^^,36417,*****,"In 1881, two Ottoman Secret Agents travel to t...",Ömer Faruk Sorak,"['Cem Yilmaz', 'Ozan Güven', 'Demet Evgar', 'Z..."
977,977,Biên Niên Sử Miền Viễn Tây,2018,133,7.3,79,151733,*****,Six tales of life and violence in the Old West...,"Directors:Ethan Coen, Joel Coen","['Tim Blake Nelson', 'Willie Watson', 'Clancy ..."
978,978,Seven Brides for Seven Brothers,1954,102,7.3,75,25676,$9.40M,"In 1850 Oregon, when a backwoodsman brings a w...",Stanley Donen,"['Jane Powell', 'Howard Keel', 'Jeff Richards'..."
979,979,Thiên Thần Trừng Phạt,1985,115,7.3,61,60968,$41.41M,A mysterious preacher (Clint Eastwood) protect...,Clint Eastwood,"['Clint Eastwood', 'Michael Moriarty', 'Carrie..."
980,980,Il mio nome è Nessuno,1973,116,7.3,68,27855,$0.39M,"A young, easy-going gunman worships and compet...",Tonino Valerii,"['Terence Hill', 'Henry Fonda', 'Jean Martin',..."

In [18]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [34]:
Y = df_movies['Movie Rating']
X = df_movies[['Watchtime', 'Vote']]

In [35]:
X

     Watchtime     Vote
0          201  1858282
1          164    33142
2          148  2370473
3          178  1887641
4          161   766605
..         ...      ...
976        112    36417
977        133   151733
978        102    25676
979        115    60968
980        116    27855

[981 rows x 2 columns]

In [36]:
Y

0      9.0
1      8.9
2      8.8
3      8.8
4      8.8
      ...
976    7.4
977    7.3
978    7.3
979    7.3
980    7.3
Name: Movie Rating, Length: 981, dtype: float64

In [37]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 42)

In [38]:
model = LinearRegression().fit(x_train, y_train)

In [40]:
r_sq = model.score(x_test, y_test)

In [41]:
r_sq

0.3498869423952675

In [42]:
model.predict(x_test)

array([8.14057273, 8.0482648 , 8.14222291, 8.0442503 , 8.21715944,
       7.9603148 , 7.94851202, 7.97388437, 8.04054586, 8.25475821,
       8.19127108, 8.24432674, 8.00929375, 8.41137855, 8.00262685,
       8.20290012, 8.22462332, 8.13086211, 8.18305923, 8.16553691,
       8.04836687, 8.29221023, 8.088625  , 7.82144242, 8.32869105,
       7.9152222 , 8.0877108 , 7.96422985, 8.11750904, 8.25967252,
       8.26434997, 8.1076463 , 8.10467332, 8.31349042, 7.9905085 ,
       8.90894635, 7.94009058, 8.21715944, 7.97055378, 8.02897298,
       8.16656527, 8.03021249, 8.07163502, 8.3785074 , 8.06603646,
       7.96837589, 8.17307057, 7.99800353, 8.00825722, 8.04611817,
       8.09668488, 8.0494944 , 7.96705113, 8.24013795, 7.89601077,
       8.78405736, 8.02470989, 8.25475821, 8.0821563 , 8.08085768,
       7.9783597 , 7.97815116, 7.97531832, 8.06603646, 8.04939702,
       8.00117672, 8.12803096, 7.9603148 , 7.91441345, 8.11316087,
       8.09236266, 8.14738766, 8.13390077, 8.0620482 , 8.23756486,
       8.31130229, 7.98980639, 8.24726371, 8.19409155, 8.29811037,
       8.08217563, 8.47546494, 8.14394378, 8.04928652, 8.07457434,
       7.85759127, 7.99075179, 8.09927807, 8.17571071, 8.00190154,
       8.20911207, 8.10719194, 8.13390077, 8.58613883, 8.58613883,
       8.11750904, 8.3762227 , 8.7060752 , 7.92351471, 8.08289053,
       7.92642352, 7.94850875, 8.33604055, 8.02260139, 8.90894635,
       8.00470142, 7.94804427, 8.00486819, 8.33516977, 8.07956786,
       8.20917928, 8.38384749, 7.96290608, 8.44549596, 8.00512712,
       8.00512712, 8.33516977, 8.05918988, 7.94483715, 8.04268503,
       7.88808458, 8.25614107, 7.9676832 , 8.02383726, 8.49605353,
       8.05393288, 7.9905085 , 8.598813  , 8.03721146, 8.0877108 ,
       7.9436002 , 8.23459227, 7.9509649 , 8.25614107, 8.23756486,
       8.17925081, 7.90760402, 7.97396786, 8.00705094, 8.0099244 ,
       8.11750904, 8.81824547, 7.91248402, 7.96290608, 7.94871975,
       8.25640564, 8.1384409 , 7.99161147, 8.15258134, 8.50708055,
       7.91095013, 8.05312232, 8.25640564, 7.94622252, 7.94301514,
       8.30495249, 8.0494944 , 8.1384409 , 7.94105015, 7.97547361,
       8.48163463, 8.47546494, 7.91373285, 7.97905582, 8.04619955,
       8.78405736, 7.98245029, 8.34436491, 8.0532349 , 8.03850714,
       8.23756486, 7.94350015, 8.06608367, 7.94085843, 8.52876677,
       8.30365235, 8.03253417, 8.01048102, 7.96422985, 8.20727998,
       8.37634623, 8.01417583, 7.99585342, 8.1076463 , 8.28315837,
       8.0610728 , 8.07096353, 8.00456242, 8.48163463, 8.19161639,
       7.960599  , 7.96705113, 8.00848549, 8.22462332, 7.99585342,
       8.08113775, 8.18628138])

In [43]:
y_test

789    8.1
497    7.8
139    8.0
570    7.7
66     8.1
      ...
450    8.0
331    8.0
886    8.5
527    7.5
482    8.5
Name: Movie Rating, Length: 197, dtype: float64